.contentContainer#globalInfo {
  h2 {
    color: #2C796E;
    font-family: Noto Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 25px;
  }
  h3 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #608D9F;
  }
  .formBox {
    background-color: #F8FAFF;
    padding: 20px 40px;
  }
}
