#footer {
  padding-top: 50px;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
    a {
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      color: #DCE6EA;
    }
  }
