
.field-container {
  margin: 20px 0;

    label {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
  }
  .input-container {
    margin-top: 10px;
    position: relative;


    .input {
      border: 0px solid black;
      border-bottom: 1px solid black;
      padding-left: 14px;
      background: none;

      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
      width: 100%;

      &.invalid {
        border-color: #FD5252;
      }
      &.valid {
        border-color: #97ECC2;
      }

      &.closed {
        cursor: pointer;
      }

      &.multiple-select {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        .pills {
          display: flex;
          flex-direction: row;

          .pill {
            display: block;
            background: #054546;
            color: #FCFCFC;
            margin: 2px;
            border-radius: 20px;
            padding: 1px 10px;
            white-space: nowrap;
            span {
              cursor: pointer;
            }
          }
        }
        input {
          width: 100%;
          font-family: 'Noto Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 33px;
          background: none;
          border: none;
        }
      }
    }
    .input-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 21px;
      pointer-events: none;
    }
  }

  .select {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all 0.2s;
    overflow: scroll;
    &.open {
      max-height: 500px;
    }
    &.closed{
      max-height: 0px;
    }

    .select-item {
      transition: all 0.2s;
      cursor: pointer;
      font-size: 24px;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 14px;

      &:hover {
        background-color: #97ECC2;
      }
      &.arrowFocused {
        background-color: #97ECC2;
      }
    }
  }
}
// Override datepicker style (is a npm module)
.react-datepicker__triangle {
  left: -118px !important;
  top: -1px !important;
}
