#sendContainer {
  background-color: #054546;
  padding: 50px 50px ;
  display: flex;
  flex-direction: column;
}

#sendContainer > h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #F8FAFF;
}

#sendContainer > p {
  color: #F8FAFF;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

#fakeUpload {
  grid-area: upload;
}

#photoContainer {
  
}

#uploadHint {
  overflow: hidden;
  padding: 40px;
  grid-area: hint;
}
#form {
  overflow: visible;
  padding: 40px;
  grid-area: form;
}

#uploadHint > p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #283B3D;
}
#uploadHintComparison {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#uploadHintComparison > div {
  width: 45%;
}
#uploadHintComparison > div  {
  position: relative;
}

#uploadHintComparison > div > img {
  width: 100%;
}

#uploadHintComparison > div > svg {
  position: absolute;
  top: -15px;
  font-size: 30px;
  right: -15px;
}

#uploadHintComparison > div.yes > svg {
  color: #97ECC2;
}

#uploadHintComparison > div.no > svg {
  color: #FC816B;

}

.formBox {
  background-color: #F8FAFF;
  border-radius: 10px;
  /* min-width: 40%; */
  box-sizing: border-box;
  width: 95%;
  /* max-width: 800px; */
  margin: 10px;
  justify-self: center;
}

#formContainer {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "upload  hint"
    "form  hint"
    ".  hint";
  align-items: start;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  #formContainer {
    grid-template-columns: auto;
    grid-template-areas:
      "upload"
      "hint"
      "form";
    align-items: start;
    justify-content: center;
  }
}
