#sendContainer {
  background-color: #054546;
  padding: 50px 50px ;
  display: flex;
  flex-direction: column;
}

#sendContainer > h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #F8FAFF;
}

#sendContainer > p {
  color: #F8FAFF;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
