#introContainer {
  padding: 75px 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#introContainer.mobile {
  padding: 150px 5vw;
}
#introText {
  width: 60%;
}

#introText.mobile {
  width: 100%;
}

#introContainer  h1 {


  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;

  /* identical to box height */

  /* Acccent - Pines */
  color: #054546;


}

#introContainer  h2 {

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;

  /* Vivid green */
  color: #5BBD8C;


}

p#explainSubtitle {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;

  /* Vivid green */
  color: #283B3D;


}

a#detection {

  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  /* identical to box height */
  text-decoration-line: underline;

  /* Tonique 1 - Orange */
  color: #F6B52A;
  text-align: right;
  display: block;
}

#introText > Button {
  margin-top: 46px;
}


#straightCarouselContainer {
  top: 0;
  position: absolute;
  /* right: -418px; */
  /* width: 1600px; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* right: -550px; */
  right: 0;
  left: 0;
  top: -10px; /* Go through headerBg */
  bottom: 0;
  overflow: hidden;
  z-index: -10;
}

#straightCarouselContainer.mobile {
  top: 0;

}

#wideCarouselContainer {
  rotate: 38.96deg;
  z-index: -10;
  position: absolute;
  width: 100%;
  top: -10vh;
  right: -21vw;
}
#smallCarouselContainer {
  z-index: -10;
  position: absolute;
  width: 100%;
  top: -65px;
}