#straightCarouselContainer {
  top: 0;
  position: absolute;
  /* right: -418px; */
  /* width: 1600px; */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1260px;
  height: 472px;
  right: -550px;
}

#carouselContainer {
  rotate: 38.96deg;
  z-index: -10;
  position: absolute;

}
/* 
@media (max-width: 1500px) {
  #straightCarouselContainer {
    right: -700px;
  }
}
@media (max-width: 1100px) {
  #straightCarouselContainer {
    right: -900px;
  }
}

@media (max-width: 600px) {
  #straightCarouselContainer {
    display: none;
  }
} */