@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova.eot');
  src: url('fonts/ProximaNova.eot') format('embedded-opentype'),
       url('fonts/ProximaNova.woff2') format('woff2'),
       url('fonts/ProximaNova.woff') format('woff'),
       url('fonts/ProximaNova.ttf') format('truetype'),
       url('fonts/ProximaNova.svg#ProximaNova') format('svg');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: #FCFCFC;
}

#carouselContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
