#picture-by-picture {
  display: flex;
  width: fit-content;
  max-width: 100%;
  padding: 0 0 0 calc(20vw - 20px);
  box-sizing: border-box;
  transition: transform 0.3s;
  align-items: center;
  height: 65vw;
}
